@import "body.css";
@import "header.css";
@import "search.css";
@import "vacancy.css";
@import "footer.css";

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.trash-button,
.edit-button{
  background-color: transparent;
  transition: color 0.25s ease;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 26px;
}

.trash-button:hover {
  color: darkred;
}

.edit-button:hover {
  color: green;
}

.button-add-vacancy {
  background-color: #1a73e8;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.button-add-vacancy:hover {
  background-color: #1669c1;
}

.add-form {
  margin-bottom: 50px;
  max-width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-add {
  max-width: 150px;
  height: 45px;
  color: #3b5983;
  font-size: 14px;
  line-height: 16px;
  border: 2px solid #e9f2ff;
  border-radius: 5px;
  padding-left: 25px;
}

.input-add:focus {
  outline: none;
  border: 2px solid #c1d9fd;
}

#result {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Стили для модального окна */
.modal {
  display: none; /* Скрываем по умолчанию */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.modal-form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  cursor: pointer;
}

.input-modal{
  min-width: 400px;
  height: 35px;
  color: #3b5983;
  font-size: 14px;
  line-height: 16px;
  border: 2px solid #e9f2ff;
  border-radius: 5px;
  padding-left: 25px;
}

.input-modal:focus {
  outline: none;
  border: 2px solid #c1d9fd;
}

.skills-select{
  height: 90px;
}

