* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.header-container {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input {
  min-width: 500px;
  height: 45px;
  color: #3b5983;
  font-size: 14px;
  line-height: 16px;
  border: 2px solid #e9f2ff;
  border-radius: 5px;
  padding-left: 25px;
}

.input:focus {
  outline: none;
  border: 2px solid #c1d9fd;
}

.button {
  margin-left: 5px;
  font-size: 14px;
  font-weight: bold;
  height: 45px;
  font-family: "Roboto", sans-serif;
  min-width: 100px;
  background: #247fff;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: #0d6cf2;
}

.trash-button {
  background-color: transparent;
  transition: color 0.5s ease;
  border: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.trash-button:hover {
  color: darkred;
}

.table-container {
  margin-top: 50px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
th,
td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}
th {
  background-color: #247fff;
  color: #fff;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
td {
  color: #333;
}

.add-form {
  margin-bottom: 50px;
  max-width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-add {
  max-width: 150px;
  height: 45px;
  color: #3b5983;
  font-size: 14px;
  line-height: 16px;
  border: 2px solid #e9f2ff;
  border-radius: 5px;
  padding-left: 25px;
}

.input-add:focus {
  outline: none;
  border: 2px solid #c1d9fd;
}

#result {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
