.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 20px auto;
}

.input-search {
    flex-grow: 1;
    height: 45px;
    color: #3b5983;
    font-size: 14px;
    border: 2px solid #e9f2ff;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.input-search:focus {
    outline: none;
    border: 2px solid #c1d9fd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-choose_column {
    width: 150px;
    height: 45px;
    border: 2px solid #e9f2ff;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.input-choose_column:focus {
    border-color: #c1d9fd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-search {
    height: 45px;
    padding: 0 20px;
    background-color: #1a73e8;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-search:hover {
    background-color: #1669c1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
        gap: 10px;
    }
}