.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

.search-form {
    display: flex;
    flex-direction: row; /* Элементы по умолчанию в строку */
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 60%;
    flex-wrap: nowrap;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.input-search {
    color: #3b5983;
    font-size: 14px;
    border: 2px solid #e9f2ff;
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    flex-grow: 1;
    width: 100%; /* Растягиваем на всю ширину родительского контейнера */
}

.input-search:focus {
    outline: none;
    border: 2px solid #c1d9fd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-choose_column {
    height: 40px;
    border: 2px solid #e9f2ff;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.input-choose_column:focus {
    border-color: #c1d9fd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-search {
    height: 40px;
    padding: 0 20px;
    background-color: #1a73e8;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; /* Кнопка будет иметь фиксированную ширину */
}

.button-search:hover {
    background-color: #1669c1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.filter {
    margin-right: 10px;
    border: 2px solid #e9f2ff;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
}

.button-delete-filter {
    background-color: transparent;
    transition: color 0.5s ease;
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.button-delete-filter:hover {
    color: darkred;
}

@media (max-width: 768px) {
    .search-form {
        flex-direction: column;
        gap: 10px;
        width: 80%;
    }

    .input-choose_column{
        flex-grow: 1;
        width: 100%;
    }
}
