<?php
// Start the session to access session variables
use app\Entities\Application;
// Check if the user is logged in
if (!isset($_SESSION['user_id'])) {
    // If the user is not logged in, redirect them to the login page
    header('Location: /login');
    exit();
}

// You can access session variables like the username or user ID
$username = $_SESSION['user_id'];  // Assuming 'user_id' contains the username
?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>User Dashboard</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/dashboardCandidate.css"/>
</head>
<body>
<header>
    <div class="header-container">
        <nav class="navigation">
            <ul>
                <li><a class="a" href="http://localhost/">Вакансии</a></li>
                <li><a class="a" href="http://localhost/applications">Отклики</a></li>
                <li><a class="a" href="http://localhost/profile">Профиль</a></li>
            </ul>
        </nav>

        <form action="/logout" method="POST">
            <button class="button" type="submit">Выйти</button>
        </form>
    </div>
    <div class="search-container">
        <form id="search-form" action="/applications/search" method="POST">
            <input
                    class="input"
                    type="search"
                    placeholder="Поиск"
                    name="search"
            />
            <button class="button" type="submit">Поиск</button>
        </form>
    </div>
</header>
<main>
    <div>
        <div class="table-container">
            <table border="1">
                <tr>
                    <?php foreach ($columns as $column): ?>
                    <th><?php echo htmlspecialchars($column); ?></th>
                    <?php endforeach; ?>
                    <th></th>
                </tr>

                <?php if (!empty($data)) { ?>
                <?php foreach ($data as $row): ?>
                <tr>
                    <?php foreach ($columns as $column): ?>
                    <td><?php
                    if ($column == 'posting date')
                  {
                    echo htmlspecialchars($row->{Application::fieldMapping[$column]}()->format('Y-m-d'));
                        }else{
                        echo htmlspecialchars($row->{Application::fieldMapping[$column]}());
                        }
                        ?>
                    </td>
                    <?php endforeach; ?>

                    <td>
                        <button
                                class="button-unapply"
                                type="button"
                                value="<?php echo htmlspecialchars($row->getApplicationId()); ?>"
                        >
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                        <script type="module" src="/js/unapply.js"></script>
                    </td>

                </tr>


                <?php endforeach; ?>

                <?php } else { ?>
                <tr>
                    <td colspan="<?php echo count($columns); ?>">
                        Нет данных для отображения
                    </td>
                </tr>
                <?php } ?>
            </table>
        </div>
    </div>
</main>
</body>
</html>
