<?php
// Start the session to access session variables
use app\Entities\Vacancy;

if (!isset($_SESSION['user_id'])) {
    header('Location: /login');
    exit();
}

?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacancy</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
          rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/profile.css"/>
</head>
<body>

<header>
    <div class="header-container" id="error">
        <nav class="navigation">
            <ul>
                <li><a href="http://localhost/">Вакансии</a></li>
                <li><a href="http://localhost/applications">Отклики</a></li>
                <?php if($_SESSION['role'] == 4){ ?>
                <li><a href="http://localhost/profile">Профиль</a></li>
                <?php } ?>
            </ul>
        </nav>
        <form action="/logout" method="POST">
            <button class="button" type="submit">Выйти</button>
        </form>
    </div>
</header>
<main>
    <div class="vacancy-title mb-4" id="<?= htmlspecialchars($vacancy->getApplicationId()) ?>">
        <h1>Вакансия <?= htmlspecialchars($vacancy->getName()) ?></h1>
        <?php if ($vacancy->getApplicationStatus() == 'не просмотрен' || $vacancy->getApplicationStatus() == 'просмотрен') { ?>
        <div class="alert alert-warning p-2" role="alert">
            Статус отклика: <?= htmlspecialchars($vacancy->getApplicationStatus()) ?>
        </div>
        <?php } elseif ($vacancy->getApplicationStatus() == 'отказ') { ?>
        <div class="alert alert-danger p-2" role="alert">
            Статус отклика: <?= htmlspecialchars($vacancy->getApplicationStatus()) ?>
        </div>
        <?php } elseif ($vacancy->getApplicationStatus() == 'приглашение' || $vacancy->getApplicationStatus() == 'вас приняли') { ?>
        <div class="alert alert-success p-2" role="alert">
            Статус отклика: <?= htmlspecialchars($vacancy->getApplicationStatus()) ?>
        </div>
        <?php } ?>
    </div>
    <?php if ($vacancy): ?>
    <ul>
        <li class="profile-details"><strong>Дата отклика:</strong>
            <?= htmlspecialchars($vacancy->getApplicationDate()) ?>
        </li>
        <li class="profile-details"><strong>Отдел:</strong>
            <?= htmlspecialchars($vacancy->getDepartment()) ?>
        </li>
        <li class="profile-details"><strong>Описание:</strong>
            <?= htmlspecialchars($vacancy->getDescription()) ?>
        </li>
        <li class="profile-details"><strong>Опыт:</strong>
            <?= htmlspecialchars($vacancy->getExperience()) ?>
        </li>
        <li class="profile-details"><strong>Зарплата:</strong>
            от <?= htmlspecialchars($vacancy->getSalary()) ?>$
        </li>
        <li class="profile-details"><strong>Дата публикации:</strong>
            <?= htmlspecialchars($vacancy->getPostingDate()->format('Y-m-d')) ?>
        </li>
        <li class="profile-details"><strong>Необходимые навыки:</strong>
            <?php
                $skills = $vacancy->getSkills();
            foreach($skills as $key => $skill){
            echo htmlspecialchars($skill['name']);
            if ($key + 1 < count($skills)) {
            echo ', ';
            }
            }
            ?>
        </li>
        <li class="profile-details">
            <div>
                <h2>Этапы</h2>
                <?php foreach($vacancy->getProcesses() as $process): ?>
                <h3>Этап <?= htmlspecialchars($process['orderable']) ?> <?= htmlspecialchars($process['type']) ?></h3>
                <p>Описание: <?= htmlspecialchars($process['description']) ?></p>
                <?php endforeach; ?>
            </div>
        </li>
    </ul>
    <?php else: ?>
    <p>Информация о вакансии недоступна.</p>
    <?php endif; ?>

    <?php if($vacancy->getApplicationStatus() == 'приглашение' || $vacancy->getApplicationStatus() == 'отказ' || $vacancy->getApplicationStatus() == 'вас приняли'): ?>
    <h1 class="vacancy-title">Чат</h1>
    <div class="container-fluid chat-container mb-1 p-2" id="chat">
        <?php foreach($chat as $msg){ ?>
        <?php if($msg['user'] == 'hr'){ ?>
        <div class="container-fluid d-flex">
            <div class="card p-2"><?= htmlspecialchars($msg['message']) ?></div>
        </div>
        <?php } else { ?>
        <div class="container-fluid d-flex justify-content-end">
            <div class="card p-2 bg-info"><?= htmlspecialchars($msg['message']) ?></div>
        </div>
        <?php } ?>
        <?php } ?>
    </div>
    <?php if($vacancy->getApplicationStatus() == 'приглашение'){ ?>
    <div class="d-flex flex-row">
        <input class="form-control container" type="text" id="message" placeholder="Введите сообщение">
        <button class="btn btn-primary" id="web-send" value="candidate">Отправить</button>
    </div>
    <script src="/js/chat.js"></script>
    <?php } ?>
    <?php endif; ?>
</main>
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h4>О нас</h4>
            <p>Мы предлагаем лучший сервис для поиска вакансий и откликов на них. Наша цель — сделать процесс поиска
                работы удобным и эффективным.</p>
        </div>
        <div class="footer-section">
            <h4>Контакты</h4>
            <ul class="footer-links">
                <li>Email: support@gmail.com</li>
                <li>Телефон: +375 33 1456 789</li>
                <li>Адрес: ул. Толковая, 12</li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Социальные сети</h4>
            <ul class="social-links">
                <li><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2024 RemZona. Все права защищены.</p>
    </div>
</footer>
<script src="/js/apply.js"></script>
</body>
</html>
