<?php
// Start the session to access session variables
use app\Entities\Vacancy;
// Check if the user is logged in
if (!isset($_SESSION['user_id'])) {
    // If the user is not logged in, redirect them to the login page
    header('Location: /login');
    exit();
}

?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>User Dashboard</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
    />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/css/dashboard.css"/>
</head>
<body>
<header>
    <div class="header-container" id="error">
        <nav class="navigation">
            <ul>
                <li><a class="a" href="http://localhost/">Вакансии</a></li>
                <li><a class="a" href="http://localhost/applications">Отклики</a></li>
            </ul>
        </nav>
        <form action="/logout" method="POST">
            <button class="button-exit" type="submit">Выйти</button>
        </form>
    </div>
    <div class="search-container">
        <form class="search-form" id="search-form" action="/search" method="POST">
            <select id="column-select" name="column" class="input-choose_column">
                <?php foreach ($columns as $column): ?>
                <option value="<?php echo htmlspecialchars($columns_type[ltrim($column)]); ?>">
                    <?php echo htmlspecialchars($column); ?>
                </option>
                <?php endforeach; ?>
            </select>
            <div class="search">
                <input id="column" type="hidden" name="column" value="name">
                <input
                        class="input-search"
                        type="text"
                        placeholder="Поиск"
                        name="value"
                        id="search-input"
                />
                <button class="button-search" type="submit">Поиск</button>
            </div>
            <script type="module" src="/js/change-search-field.js"></script>
        </form>

    </div>
    <div id="filters" class="filter-container">
        <?php if (!empty($filters)){ ?>
        <?php foreach($filters as $filter){ ?>
        <div class="filter">
            <form method="post" action="/search/delete">
                <?= $filter['column'] ?>: <?= $filter['value']?>
                <input type="hidden" value="<?= $filter['column'] ?>" name="delete-column">
                <button type="submit" class="button-delete-filter"><i class="fa-solid fa-xmark"></i></button>
            </form>
        </div>
        <?php }} ?>
    </div>
</header>
<main>
    <div class="main-container">
        <div class="button-container">
            <button id="button-add" class="button-add-vacancy" type="button" data-bs-toggle="modal"
                    data-bs-target="#vacancyModal">Добавить вакансию
            </button>
        </div>
        <div class="modal fade" id="vacancyModal" tabindex="-1" aria-labelledby="fullScreenModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="fullScreenModalLabel">Добавить вакансию</h1>
                        <div id="error-message" style="color: red; display: none;"></div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="vacancy-form" action="/add" method="POST" class="modal-form">
                            <label for="vacancy-title">Название вакансии</label>
                            <input class="input-modal" type="text" id="vacancy-title" name="name" required/>

                            <label for="vacancy-department">Отдел</label>
                            <select class="input-modal" id="vacancy-department" name="department_ID">
                                <?php foreach ($departments as $department): ?>
                                <option value="<?php echo htmlspecialchars($department['department_id']); ?>">
                                    <?php echo htmlspecialchars($department['name']); ?>
                                </option>
                                <?php endforeach; ?>
                            </select>

                            <label for="vacancy-description">Описание вакансии</label>
                            <textarea class="input-modal skills-select" id="vacancy-description" name="description"
                                      required></textarea>

                            <label for="vacancy-skills">Необходимые навыки</label>
                            <select class="input-modal skills-select" id="vacancy-skills" name="skills" multiple
                                    size="5"
                                    required>
                                <?php foreach ($skills as $skill): ?>
                                <option value=<?php echo htmlspecialchars($skill[
                                'skill_ID']); ?>>
                                <?php echo htmlspecialchars($skill['name']); ?>
                                </option>
                                <?php endforeach; ?>
                            </select>

                            <label for="vacancy-experience">Требуемый опыт</label>
                            <input class="input-modal" type="number" min="0" id="vacancy-experience"
                                   name="experience_required"
                                   required/>

                            <label for="vacancy-salary">Зарплата</label>
                            <input class="input-modal" min="1" type="number" id="vacancy-salary" name="salary"
                                   required/>
                            <div>
                                <h4 class="modal-title">Этапы собеседования</h4>
                                <div class="list-group-horizontal">
                                    <button type="button" class="btn btn-primary" id="add-process">Добавить этап
                                    </button>
                                    <button type="button" class="btn btn-danger" id="delete-process">Удалить этап
                                    </button>
                                </div>

                            </div>
                            <div class="modal-form" id="process-1">
                                <h5 class="modal-title">Этап 1</h5>
                                <input type="hidden" name="orderable" value="1">
                                <label for="process-select-1">Тип</label>
                                <select class="input-modal" name="type" id="process-select-1" required>
                                    <option value="Интервью с Hr">
                                        Интервью с Hr
                                    </option>
                                    <option value="Техническое интервью">
                                        Техническое интервью
                                    </option>
                                    <option value="Тестовое задание">
                                        Тестовое задание
                                    </option>
                                </select>
                                <label for="process-description">Описание этапа</label>
                                <textarea class="input-modal skills-select" id="process-description"
                                          name="process-description"
                                          required></textarea>
                            </div>
                        </form>
                        <script src="/js/process.js"></script>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
                        </button>
                        <button type="button" id="submit-vacancy" class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </div>
            <script src="/js/vacancy-add.js"></script>
        </div>

        <div class="modal fade" id="edit-vacancyModal" tabindex="-1" aria-labelledby="edit-fullScreenModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="edit-fullScreenModalLabel">Добавить вакансию</h1>
                        <div id="edit-error-message" style="color: red; display: none;"></div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="edit-vacancy-form" action="/add" method="POST" class="modal-form">
                            <input type="hidden" name="vacancy_ID" value="" id="vacancy_id">
                            <label for="edit-vacancy-title">Название вакансии</label>
                            <input class="input-modal" type="text" id="edit-vacancy-title" name="name" required/>

                            <label for="edit-vacancy-department">Отдел</label>
                            <select class="input-modal" id="edit-vacancy-department" name="department_ID">
                                <?php foreach ($departments as $department): ?>
                                <option value="<?php echo htmlspecialchars($department['department_id']); ?>">
                                    <?php echo htmlspecialchars($department['name']); ?>
                                </option>
                                <?php endforeach; ?>
                            </select>

                            <label for="edit-vacancy-description">Описание вакансии</label>
                            <textarea class="input-modal skills-select" id="edit-vacancy-description"
                                      name="description"
                                      required></textarea>

                            <label for="edit-vacancy-skills">Необходимые навыки</label>
                            <select class="input-modal skills-select" id="edit-vacancy-skills" name="skills[]"
                                    multiple
                                    size="5"
                                    required>
                                <?php foreach ($skills as $skill): ?>
                                <option value=<?php echo htmlspecialchars($skill[
                                'skill_ID']); ?>>
                                <?php echo htmlspecialchars($skill['name']); ?>
                                </option>
                                <?php endforeach; ?>
                            </select>

                            <label for="edit-vacancy-experience">Требуемый опыт</label>
                            <input class="input-modal" type="number" min="0" id="edit-vacancy-experience"
                                   name="experience_required"
                                   required/>

                            <label for="edit-vacancy-salary">Зарплата</label>
                            <input class="input-modal" min="1" type="number" id="edit-vacancy-salary" name="salary"
                                   required/>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="close-edit" class="btn btn-secondary" data-bs-dismiss="modal">
                            Закрыть
                        </button>
                        <button type="button" id="edit-vacancy" class="btn btn-primary">Редактировать</button>
                    </div>
                </div>
                <script src="/js/edit-button-modal.js"></script>
            </div>
        </div>
        <?php if (!empty($data)) { ?>
        <ul class="vacancy-list">
            <?php foreach ($data as $row): ?>
            <a href="http://localhost/vacancy/<?= $row->getId() ?>" class="vacancy-link">
                <li class="vacancy-item">
                    <div class="vacancy-container">
                        <h3 class="vacancy-title"><?= $row->getName() ?></h3>
                        <div class="vacancy-content-container">
                            <div class="vacancy-content">
                                <p class="vacancy-department"><strong>Отдел: </strong><?= $row->getDepartment()
                                    ?></p>
                                <p><strong>Опыт:</strong> <?= $row->getExperience() ?> года</p>
                            </div>
                            <div class="vacancy-content">
                                <p><strong>Зарплата:</strong> <?= $row->getSalary() ?> $</p>
                                <p><strong>Дата публикации:</strong> <?=$row->getPostingDate()->format('Y-m-d')
                                    ?></p>
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                        <button
                                data-bs-target="#edit-vacancyModal"
                                data-bs-toggle="modal"
                                class="edit-button"
                                type="button"
                                value="<?= $row->getId() ?>"
                        >
                            <i class="fa-solid fa-pen-to-square "></i>
                        </button>
                        <button
                                class="trash-button"
                                type="button"
                                value="<?= $row->getId() ?>"
                        >
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        <script type="module" src="/js/vacancy-delete.js"></script>
                    </div>
                </li>
            </a>
            <?php endforeach; ?>
        </ul>
        <?php } else { ?>
        <h2>Нет данных для отображения</h2>
        <?php } ?>
</main>
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h4>О нас</h4>
            <p>Мы предлагаем лучший сервис для поиска вакансий и откликов на них. Наша цель — сделать процесс поиска
                работы удобным и эффективным.</p>
        </div>
        <div class="footer-section">
            <h4>Контакты</h4>
            <ul class="footer-links">
                <li>Email: support@gmail.com</li>
                <li>Телефон: +375 33 1456 789</li>
                <li>Адрес: ул. Толковая, 12</li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Социальные сети</h4>
            <ul class="social-links">
                <li><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2024 RemZona. Все права защищены.</p>
    </div>
</footer>
<script src="/js/vacancy-edit.js"></script>
</body>
</html>
