<?php

use app\Entities\Vacancy;

// Start the session to access session variables

// Check if the user is logged in
if (!isset($_SESSION['user_id'])) {
    // If the user is not logged in, redirect them to the login page
    header('Location: /login');
    exit();
}

?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>User Dashboard</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/dashboardCandidate.css"/>
    <link rel="stylesheet" href="/css/notifications.css"/>
</head>
<body>
<header>
    <div class="header-container" id="error">
        <nav class="navigation">
            <ul>
                <li><a class="a" href="http://localhost/">Вакансии</a></li>
                <li><a class="a" href="http://localhost/applications">Отклики</a></li>
                <li><a class="a" href="http://localhost/profile">Профиль</a></li>
            </ul>
        </nav>
        <form action="/logout" method="POST">
            <button class="button-exit" type="submit">Выйти</button>
        </form>
    </div>
    <div class="search-container">
        <form class="search-form" id="search-form" action="/search" method="POST">
            <select id="column-select" name="column" class="input-choose_column">
                <?php foreach ($columns as $column): ?>
                <option value="<?php echo htmlspecialchars($columns_type[ltrim($column)]); ?>">
                    <?php echo htmlspecialchars($column); ?>
                </option>
                <?php endforeach; ?>
            </select>
            <input id="column" type="hidden" name="column" value="name">
            <div class="search">
                <input
                        class="input-search"
                        type="text"
                        placeholder="Поиск"
                        name="value"
                        id="search-input"
                />
                <button class="button-search" type="submit">Поиск</button>
            </div>
            <script type="module" src="/js/change-search-field.js"></script>
        </form>

    </div>
    <div id="filters" class="filter-container">
        <?php if (!empty($filters)){ ?>
        <?php foreach($filters as $filter){ ?>
        <div class="filter">
            <form method="post" action="/search/delete">
                <?= $filter['column'] ?>: <?= $filter['value']?>
                <input type="hidden" value="<?= $filter['column'] ?>" name="delete-column">
                <button type="submit" class="button-delete-filter"><i class="fa-solid fa-xmark"></i></button>
            </form>
        </div>
        <?php }} ?>
    </div>
</header>
<main>
    <?php if (!empty($data)) { ?>
    <ul class="vacancy-list">
        <?php foreach ($data as $row): ?>
        <a href="http://localhost/vacancy/<?= $row->getId() ?>" class="vacancy-link">
            <li class="vacancy-item">
                <div class="vacancy-container">
                    <h3 class="vacancy-title"><?= $row->getName() ?></h3>
                    <div class="vacancy-content-container">
                        <div class="vacancy-content">
                            <p class="vacancy-department"><strong>Отдел: </strong><?= $row->getDepartment() ?></p>
                            <p><strong>Опыт:</strong> <?= $row->getExperience() ?> года</p>
                        </div>
                        <div class="vacancy-content">
                            <p><strong>Зарплата:</strong> <?= $row->getSalary() ?> $</p>
                            <p><strong>Дата публикации:</strong> <?=$row->getPostingDate()->format('Y-m-d') ?></p>
                        </div>
                    </div>
                </div>
                <button class="button-apply" type="button" value="<?= $row->getId() ?>">Откликнуться</button>
            </li>
        </a>
        <?php endforeach; ?>
    </ul>
    <?php } else { ?>
    <h2>Нет данных для отображения</h2>
    <?php } ?>
</main>
<script src="/js/logout.js"></script>
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h4>О нас</h4>
            <p>Мы предлагаем лучший сервис для поиска вакансий и откликов на них. Наша цель — сделать процесс поиска
                работы удобным и эффективным.</p>
        </div>
        <div class="footer-section">
            <h4>Контакты</h4>
            <ul class="footer-links">
                <li>Email: support@gmail.com</li>
                <li>Телефон: +375 33 1456 789</li>
                <li>Адрес: ул. Толковая, 12</li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Социальные сети</h4>
            <ul class="social-links">
                <li><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2024 RemZona. Все права защищены.</p>
    </div>
</footer>
<script src="/js/apply.js"></script>
</body>
</html>
